<!doctype html>
<html lang="en" ng-app="bonuslySorter">
<head>
    <meta charset="utf-8">
    <title>Bonusly Sorter</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="index.css">
    <script src="bower_components/angular/angular.js"></script>
    <script src="index.js"></script>
</head>
<body ng-controller="IndexCtrl as index">
    <div class="form-center">
        <div class="alert alert-info" role="alert">
            Generate your API key <a target="_blank" href="https://bonus.ly/api">here</a>!
        </div>
        
        <form ng-submit="index.getData()">
          <div class="form-group">
            <label for="accessToken">Access Token</label>
            <input type="text" class="form-control" id="accessToken" placeholder="Access Token" ng-model="index.accessToken">
          </div>
          <div class="form-group">
            <label for="userId">UserID</label>
            <input type="text" class="form-control" id="userId" placeholder="UserID" ng-model="index.userId">
          </div>
          <div class="form-group">
            <label for="limit">Limit</label>
            <input type="text" class="form-control" id="limit" placeholder="Limit" ng-model="index.limit">
          </div>

          <button type="submit" class="btn btn-default">GET</button>
        </form>
    </div>
</body>
</html>
