<!doctype html>
<html lang="en" ng-app="bonuslySorter">
<head>
    <meta charset="utf-8">
    <title>Bonusly Sorter</title>
    <link rel="shortcut icon" type="image/png" href="/favicon.ico"/>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="index.css">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/js/alert.js"></script>
    <script src="index.js"></script>
</head>
<body ng-controller="IndexCtrl as index">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            <i class="fa fa-gift fa-2x"></i>
              #Bonus.ly
          </a>
        </div>
      </div>
    </nav>
    <div class="form-center">
        <div class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            Generate your API key <a target="_blank" href="https://bonus.ly/api">here</a>!
        </div>
        <div class="alert alert-danger alert-dismissible" role="alert" ng-show="index.error">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Oh Snap!</strong> An Error occurred: {{ index.error }}.
        </div>
        
        <form ng-submit="index.getData()">
          <div class="form-group">
            <label for="accessToken">Your Access Token</label>
            <input type="text" class="form-control" id="accessToken" placeholder="Access Token" ng-model="index.accessToken" required="required">
          </div>
          <div class="form-group">
            <label for="userId">Your User ID</label>
            <input type="text" class="form-control" id="userId" placeholder="UserID" ng-model="index.userId" required="required">
          </div>
          <div class="form-group">
            <label for="limit">Limit</label>
            <input type="number" min="1" class="form-control" id="limit" placeholder="Limit" ng-model="index.limit" required="required">
          </div>

          <button type="submit" class="btn btn-primary">GET</button>
        </form>
            
        <div ng-show="index.loadingResults" class="m-t-50">
            <hr/>
            
            <div class="center-spinner">
                <i class="fa fa-thumbs-o-up fa-spin fa-5x"></i>
                <div>
                    loading your awesomeness
                </div>
            </div>
        </div>
        
        <div ng-show="!index.loadingResults" class="m-t-50">
            <hr/>
            <h2 class="" ng-show="index.displayName">Bonuses received by: {{ index.displayName }}</h2>
    
            <div class="table-responsive" ng-repeat="(key, bonuses) in index.responses">
                
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                <h3>#{{ key }}</h3>
                            </th>
                        </tr>
                    </thead>
                    <tbody ng-if="bonuses.length === 0">
                        <tr>
                            <td colspan="1">Sorry, looks like you didn't recieve anything for this category.</td>
                        </tr>
                    </tbody>
                    <tbody ng-repeat="value in bonuses">
                        <tr>
                            
                            <td>{{ value.reason }} from: <b>{{ value.giver.display_name }}</b></td>
                        </tr>
                    </tbody>
                </table>  
            </div>

        </div>
    </div>

</body>
</html>
